<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <CodeMash>
    <client xdt:Transform="Replace" xdt:Locator="Match(name)" name="Sdk" apiKey="" address="http://api.codemash.local/1.0/" />
  </CodeMash>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" key="MyConnectionString" value="mongodb://localhost:27018"/>
  </appSettings>
</configuration>