<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <CodeMash>
    <client xdt:Transform="Replace" xdt:Locator="Match(name)" name="Sdk" apiKey="vAvUur13SQeQbqBsp3pH8-_yU1Ni94WK" address="http://api.codemash.local/1.0/" />
  </CodeMash>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" key="MyConnectionString" value=""/>
  </appSettings>
</configuration>