<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CodeMash" type="CodeMash.CodeMashConfigurationSection, CodeMash" requirePermission="false" />
  </configSections>
  <CodeMash>
    <client name="Sdk" apiKey="vAvUur13SQeQbqBsp3pH8-_yU1Ni94WK" address="http://api.codemash.io/1.0/" />
  </CodeMash>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>