<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="CodeMash" type="CodeMash.Net.FormSchemaConfigurationSection, CodeMash.Net" requirePermission="false" />
  <CodeMash>
    <client name="CodeMashClient" apiKey="HP7qoWWJpG8gTlepFH2hWpQOLctB7IkU " address="http://api.codemash.io/1.0/" />
  </CodeMash>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>