<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CodeMash" type="CodeMash.Net.CodeMashConfigurationSection, CodeMash.Net" requirePermission="false" />
  </configSections>
  <CodeMash>
    <client name="CodeMashClient" apiKey="OQ4jCAeUE0IG_HzWJGrkaMSe2OtJUT9q " address="http://api.codemash.io/1.0/" />
  </CodeMash>  
</configuration>