<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->
    <config>
        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
    </config>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
  </packageSources>
</configuration>